@import '../variable/variable.scss';

.block {
    width: 47.396vw;
    position: relative;
    padding-bottom: 6.2vh;

    &__title{
        font-size: 2.25em;
    }
    
    &__list {
        width: 247px;
        margin-bottom: 15px;
        gap: 15px;
        padding: 8px 7.5px;
    }
    &__item {
        height: 37px;
        width: 37px;
        border-radius: 5px;
        border: 1px solid $white;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin-bottom: 0.926vh;
    }
    
    & p {
        line-height: 1.3em; 

        &:first-of-type{
            max-width: 666px;
            margin-bottom: 4.4vh;
        }

        & span {
            text-transform: uppercase;
            color: $red;
        }
    }
    &__button {
        margin-bottom: 4.4vh; 

        &:hover, &:focus, &:active{
            background-color: $white;
            color: $black;
        }
    }

    & .icon-multiplication {
        transform: matrix(0.89, -0.45, 0.46, 0.89, 0, 0);
    }
    
    & .icon-plus {
        transform: matrix(1, 0.05, -0.05, 1, 0, 0);
    }
    
    & .icon-percent {
        transform: matrix(0.95, 0.31, -0.32, 0.95, 0, 0);
    }
    
    & .rating {
        position: absolute;
        top: -7.2vh;
        right: 9.46vw;
    }
    
    & .goal {
        position: absolute;
        top: 12.3vh;
        right: 0;
    }
    
    & .calendar{
        position: absolute;
        top: 34vh;
        right: 14.115vw;
    }
}













