@import '../variable/variable.scss';

.header{
    background-color: $white;
    padding-bottom: 20.5vh;

    &__wrap {
        background-color: #121212;
        border-bottom-left-radius: 1.9vw;
        border-bottom-right-radius: 1.9vw;
    }
    
    &__content{
        padding: 0 55px 0 100px;
        gap: 33px;
    }
    &__illustration {
        position: relative;

        & img {
            position: absolute;
            top: -80px;
        }
    }
    
    & .block__title {
        font-size: 2.25em;
        max-width: 908px;
    }

}








