<section class="bienvenue">
    <div class="bienvenue__container">
        <div class="bienvenue__wrap">
                <div class="bienvenue__emblem">
                    <img src="img/bienvenue/emblem.png" alt="emblem">
                    <div></div>
                </div>
                <div class="bienvenue__block block">
                    <ul class="block__list icon-arithmetic">
                        <li class="block__item icon-multiplication">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.0084 1.26247L6.34979 15.3527" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.8001 10.617L1.55029 6.0127" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="block__item icon-plus">
                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.44775 2.20557L8.63941 17.0058" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.5206 10.0105L1.55189 9.20923" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="block__item icon-percent">
                            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.3322 6.5481L0.576172 15.8613" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.57423 2.75247C8.79555 3.20883 8.87607 3.71952 8.80575 4.22082C8.73544 4.72213 8.51741 5.19183 8.17884 5.57141C7.84027 5.951 7.39615 6.22362 6.9019 6.35528C6.40765 6.48694 5.88512 6.47185 5.39952 6.31181C4.91391 6.15176 4.48672 5.8539 4.17121 5.45537C3.8557 5.05683 3.66587 4.57526 3.62536 4.07074C3.58486 3.56623 3.69549 3.06109 3.94345 2.61834C4.19141 2.17558 4.56572 1.81479 5.01971 1.581C5.32974 1.42134 5.66911 1.32499 6.01757 1.29764C6.36604 1.27029 6.7165 1.31247 7.04813 1.42176C7.37975 1.53106 7.68575 1.70525 7.94793 1.93386C8.21011 2.16246 8.42309 2.44083 8.57423 2.75247Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.0264 17.3723C16.182 17.68 16.2748 18.015 16.2994 18.3581C16.3241 18.7012 16.2801 19.0459 16.1701 19.3722C16.0601 19.6985 15.8861 20.0002 15.6582 20.2601C15.4302 20.52 15.1527 20.7329 14.8415 20.8867C14.5304 21.0406 14.1916 21.1323 13.8445 21.1567C13.4975 21.1811 13.1489 21.1377 12.8189 21.0289C12.4888 20.9201 12.1836 20.7481 11.9208 20.5227C11.658 20.2973 11.4426 20.0229 11.287 19.7153C10.9728 19.0939 10.9211 18.3745 11.1433 17.7154C11.3655 17.0564 11.8434 16.5115 12.4719 16.2008C13.1003 15.8901 13.8279 15.8391 14.4945 16.0588C15.1611 16.2785 15.7121 16.7509 16.0264 17.3723Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                
                        </li>
                        <li class="block__item icon-minus">
                            <svg width="17" height="3" viewBox="0 0 17 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.0072 1.82122L1.03076 0.966064" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                    </ul>
                    <h2 class="block__title title">
                        NOUS VOUS SOUHAITONS LA BIENVENUE!
                    </h2>
                    <p>
                        Cabinet de taille humaine situé à Marseille, dirigé par Viorica PION, expert-comptable et commissaire aux comptes, notre objectif premier est d’entretenir une relation de proximité et de confiance afin de vous conseiller au quotidien.<br />
                        Grace à nos méthodes structurées et informatisées, l’expert-comptable vous est entièrement dédié, il est l’interlocuteur principal dans le conseil et le suivi de votre dossier.<br />
                        Nous nous engageons à vous apporter une réponse rapide et personnalisée à toutes vos demandes. Nous sommes à votre disposition pour vous rencontrer en face à face, en visio, par téléphone ou par email.
                    </p>
                    <button class="block__button  button">
                        CONTACTEZ-NOUS
                    </button>
                </div>                
        </div>
    </div>
</section>