<section class="faq" id="faq">
    <div class="faq__container">
        <div class="faq__description">
            <h2 class="faq__title title">
                faq
            </h2>
            <p>
                Découvrez les réponses rapides aux questions les plus courantes dans notre section FAQ. Simplifiez votre expérience et obtenez efficacement les informations dont vous avez besoin.
            </p>
            <img src="img/faq/faq.png" alt="faq">
        </div>
        <ul class="faq__list">
            <li class="faq__item item">
                <p>
                    01. Est-il obligatoire d’avoir un expert-comptable ?
                </p>
                <button class="item__plus">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FAFAFA" stroke="#262626"/>
                        <line x1="19.9006" y1="11.0002" x2="19.9006" y2="29.0002" stroke="#262626"/>
                        <line x1="11.0002" y1="20.1006" x2="29.0002" y2="20.1006" stroke="#262626"/>
                        </svg>
                </button>
            </li>
            <li class="faq__item item">
                <p>
                    02. Qui va suivre mon entreprise ?
                </p>
                <button class="item__plus">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FAFAFA" stroke="#262626"/>
                        <line x1="19.9006" y1="11.0002" x2="19.9006" y2="29.0002" stroke="#262626"/>
                        <line x1="11.0002" y1="20.1006" x2="29.0002" y2="20.1006" stroke="#262626"/>
                        </svg>
                </button>
            </li>
            <li class="faq__item item">
                <p>
                    03. Quelle est votre clientèle cible ?
                </p>
                <button class="item__plus">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FAFAFA" stroke="#262626"/>
                        <line x1="19.9006" y1="11.0002" x2="19.9006" y2="29.0002" stroke="#262626"/>
                        <line x1="11.0002" y1="20.1006" x2="29.0002" y2="20.1006" stroke="#262626"/>
                        </svg>
                </button>
            </li>
            <li class="faq__item item">
                <p>
                    04. Est-ce que vous travaillez avec des entreprises en dehors de Marseille ?
                </p>
                <button class="item__plus">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FAFAFA" stroke="#262626"/>
                        <line x1="19.9006" y1="11.0002" x2="19.9006" y2="29.0002" stroke="#262626"/>
                        <line x1="11.0002" y1="20.1006" x2="29.0002" y2="20.1006" stroke="#262626"/>
                        </svg>
                </button>
            </li>
            <li class="faq__item item">
                <p>
                    05. Puis-je domicilier mon entreprise à mon domicile ?
                </p>
                <button class="item__plus">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FAFAFA" stroke="#262626"/>
                        <line x1="19.9006" y1="11.0002" x2="19.9006" y2="29.0002" stroke="#262626"/>
                        <line x1="11.0002" y1="20.1006" x2="29.0002" y2="20.1006" stroke="#262626"/>
                        </svg>
                </button>
            </li>
            <li class="faq__item item">
                <p>
                    06. Est-ce que vous vous occupez de toutes les démarches de ma société ?
                </p>
                <button class="item__plus">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FAFAFA" stroke="#262626"/>
                        <line x1="19.9006" y1="11.0002" x2="19.9006" y2="29.0002" stroke="#262626"/>
                        <line x1="11.0002" y1="20.1006" x2="29.0002" y2="20.1006" stroke="#262626"/>
                        </svg>
                </button>
            </li>
        </ul>
    </div>
</section>