<section class="atouts">
    <div class="atouts__container">
        <h2 class="atouts__title title">
            Nos atouts
        </h2>
        <ul class="atouts__list">
            <li class="atouts__item">
                <div class="atouts__point">
                    <div class="atouts__number">
                        <img src="img/atouts/01.png" alt="01 atouts number">
                    </div>
                    <h3 class="atouts__name">
                        Full service
                    </h3>
                </div>
                <div class="atouts__description">
                    <p>
                        Nous vous proposons une gamme complète de services pour vous conseiller dans l’ensemble des étapes clé de la vie de votre société (comptabilité, social, fiscal, juridique, audit, solutions informatiques, facturation etc.)
                    </p>
                </div>
            </li>
            <li class="atouts__item">
                <div class="atouts__point">
                    <div class="atouts__number">
                        <img src="img/atouts/02.png" alt="02 atouts number">
                    </div>
                    <h3 class="atouts__name">
                        L’interprofessionnalité grâce à nos partenaires
                    </h3>
                </div>
                <div class="atouts__description">
                    <p>
                        Notre réseau de partenaires experts dans leurs domaines respectifs apporte une valeur ajoutée significative à nos offres et un gain de temps considérable vous permettant de vous concentrer sur le cœur de votre métier. 
                    </p>
                </div>
            </li>
            <li class="atouts__item">
                <div class="atouts__point">
                    <div class="atouts__number">
                        <img src="img/atouts/03.png" alt="03 atouts number">
                    </div>
                    <h3 class="atouts__name">
                        Notre démarche éco-responsable
                    </h3>
                </div>
                <div class="atouts__description">
                    <p>
                        Au-delà des chiffres, notre cabinet a l’ambition d’être un cabinet zéro papier et nous sensibilisons nos employés et nos clients aux enjeux environnementaux et au respect des valeurs sociétales.
                    </p>
                </div>
            </li>
            <li class="atouts__item">
                <div class="atouts__point">
                    <div class="atouts__number">
                        <img src="img/atouts/04.png" alt="04 atouts number">
                    </div>
                    <h3 class="atouts__name">
                        Une ouverture à l’international
                    </h3>
                </div>
                <div class="atouts__description">
                    <p>
                        Nous vous proposons une gamme complète de services pour vous conseiller dans l’ensemble des étapes clé de la vie de votre société (comptabilité, social, fiscal, juridique, audit, solutions informatiques, facturation etc.)
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>


