<section class="services" id="services">
    <div class="services__container">
        <h2 class="services__title title">
            Nos services
        </h2>
        <ul class="services__list">
            <li class="services__item">
                <img src="img/services/01.png" alt="01">
                <h3 class="services__subtitle subtitle title">
                    Comptabilité et fiscalité
                </h3>
                <ul>
                    <li>
                        Tenue et supervision de comptabilité
                    </li>
                    <li class="two-row">
                        Télédéclaration de l’ensemble des déclarations fiscales
                    </li>
                    <li>
                        Etablissement des comptes annuels
                    </li>
                    <li>
                        Assistance en cas de contrôle fiscal
                    </li>
                </ul>
            </li>
            <li class="services__item">
                <img src="img/services/02.png" alt="02">
                <h3 class="services__subtitle subtitle title">
                    Social et RH
                </h3>
                <ul>
                    <li>
                        Assistance au recrutement des salariés
                    </li>
                    <li>
                        Formalité d’embauche et de sortie des salariés
                    </li>
                    <li>
                        Contrats de travail et bulletins de paie
                    </li>
                    <li>
                        Assistance en cas de contrôle fiscal
                    </li>
                </ul>
            </li>
            <li class="services__item">
                <img src="img/services/03.png" alt="03">
                <h3 class="services__subtitle subtitle title">
                    Mission juridique
                </h3>
                <ul>
                    <li>
                        Secrétariat juridique
                    </li>
                    <li>
                        Assistance au choix du statut juridique
                    </li>
                    <li>
                        Etude liée à la création d’entreprise
                    </li>
                    <li class="three-four">
                        Formalités liées à l’évolution de la société (augmentation de capital, transformation, dissolution, liquidation etc.)
                    </li>
                </ul>
            </li>
            <li class="services__item">
                <img src="img/services/04.png" alt="04">
                <h3 class="services__subtitle subtitle title">
                    Commissariat aux comptes
                </h3>
                <ul>
                    <li>
                        Certification des comptes
                    </li>
                    <li>
                        Commissariat aux apports
                    </li>
                    <li>
                        Commissariat à la transformation
                    </li>
                    <li>
                        Autres missions directement liées
                    </li>
                </ul>
            </li>
            <li class="services__item">
                <img src="img/services/05.png" alt="05">
                <h3 class="services__subtitle subtitle title">
                    Conseil en gestion et stratégie
                </h3>
                <ul>
                    <li>
                        Tableaux de bord et analyse budgétaire
                    </li>
                    <li>
                        Prévisionnel d’activité et business plan
                    </li>
                    <li>
                        Gestion de patrimoine et audit social
                    </li>
                    <li>
                        Optimisation de la rémunération du dirigeant
                    </li>
                </ul>
            </li>
            <li class="services__item">
                <img src="img/services/06.png" alt="06">
                <h3 class="services__subtitle subtitle title">
                    Solutions informatiques
                </h3>
                <ul>
                    <li>
                        Consultation d’un ingénieur informatique
                    </li>
                    <li>
                        Mise en place de solutions en ligne
                    </li>
                    <li class="three-row">
                        Assistance informatique et sécurisation des données
                    </li>
                    <li>
                        Formations adaptées à vos besoins
                    </li>
                </ul>
            </li>
            <li class="services__item">
                <h3 class="services__subtitle subtitle title">
                    Premier rendez-vous gratuit
                </h3>
                <p>
                    N’hésitez pas à nous contacter. Vous avez besoin de renseignements ? Remplissez le formulaire en cliquant sur le lien contactez-nous. Nous sommes à votre disposition pour répondre à vos demandes.
                </p>
                <button class="services__button  button">
                    CONTACTEZ-NOUS
                </button>
            </li>
        </ul>
    </div>
</section>