<section class="platform">
    <div class="platform__container">
        <h2 class="platform__title title">
            PLATEFORME COLLABORATIVE
        </h2>
        <div class="platform__content">
            <div class="platform__collaborative platform__collaborative-client">
                <img src="img/platform/client.png" alt="client" class="platform__image-client">
                <div class="platform__description">
                    <h3 class="platform__subtitle subtitle title">
                        Devenez client et accédez à l’espace en ligne du cabinet
                    </h3>
                    <p>
                        Un espace centralisé en ligne vous sera mis à disposition pour le stockage et le partage des documents.
                    </p>
                    <p>
                        Choisissons le mode de transmission le plus court !
                    </p>
                </div>
            </div>
            <div class="platform__collaborative platform__collaborative-tools">
                <img src="img/platform/operator.png" alt="operator" class="platform__image-operator">
                <div class="platform__description">
                    <h3 class="platform__subtitle subtitle title">
                        Accéder à nos outils collaboratifs
                    </h3>
                    <p>
                        Des outils collaboratifs sur mesure pourront être mis en place pour un suivi en temps réel et une prise de décision rapide.
                    </p>
                    <p>
                        Définissons ensemble notre collaboration !
                    </p>
                </div>
            </div>
            <div class="platform__mobile">
                <div class="platform__description">
                    <h3 class="platform__subtitle subtitle title">
                        Une application mobile pour gérer votre entreprise en toute simplicité
                    </h3>
                    <ul>
                        <li>
                            <span>Confidentialité:</span> 
                            RGPD, sécurité des données
                        </li>
                        <li>
                            <span>Intuitive:</span>
                            prise en main immédiate
                        </li>
                        <li>
                            <span>Collaborative:</span>
                            100% en ligne, gestion des accès
                        </li>
                        <li>
                            <span>Performante:</span>
                            automatismes, synchronisation
                        </li>
                        <li>
                            <span>Assistance technique:</span> 
                            aides, guides, assistance
                        </li>
                    </ul>
                </div>
                <div class="phone">
                    <img src="img/platform/phone.png" alt="phone">
                </div>            
            </div>
        </div>
    </div>
</section>