@import '../variable/variable.scss';

.nav {
    padding: 1.1574vh 0;
    margin-bottom: 12.7vh;
    &__list {
        gap: 3.125vw;
        margin-left: 7vw;
    }
    
    &__item {
        padding: 0 0.078vw;

        &:first-child {
            padding: 0 0.182vw;
        }
    }
    
    &__link {
        font-size: 0.9em;
        line-height: 1.15em;
        // letter-spacing: 0.2px;

        &:hover,
        &:focus,
        &:active {
            color: $red;
        }
    }
    
    &__button{
        font-size: 0.8em;
        line-height: 1.05em;
        padding: 1.111vh 2.75vw;
        color: #F9FCFE;
        font-weight: 400;

        &:hover, &:focus, &:active{
            background-color: $white;
            color: $black;
        }
    }   
}









